* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 1fr;
}
.logo {
    color: rgb(7, 121, 83);
    font-size: xx-large;
    place-items: center;
    text-align: left;
}

ul.menu {
    grid-column: 3 / 9;
}

#header li {
    list-style-type: none;
    grid-gap: 10px;
    display: inline-block;
    background-color: #242424;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user {
    background-color: #242424;
    color: white;
    justify-content: space-between;
    place-items: center;
    align-items: center;
    grid-column: 9/ span 12;
}

.user a.greeting {
    color: white;
}

.user a {
    padding: 10px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

#content {
    grid-column: 1 span 2; /* Span across both columns */
    grid-row: 3;
}

#content h1 {
    font-size: x-large;
}

#content p {
    font-size: medium;
}